<!DOCTYPE html>
<html lang="en">
<head>
    <link type="text/css" href="{{ url_for('static', filename='css/form_styles.css')}}" rel="stylesheet">
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
<div class="wrapper">

    <form action="/" method="post" class="form-signin" id="some-form">
        {% for i in get_flashed_messages() %}
    <h1 style="color:red">{{i}}</h1>
    {% endfor %}
      <h2 class="form-signin-heading">Please login</h2>
      <input type="text" class="form-control" name="username" placeholder="Email Address" required="" autofocus="" value=""/>
      <input type="password" class="form-control" name="password" placeholder="Password" required=""/>
      <label class="checkbox">
        <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
      </label>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
    </form>
  </div>
</body>
</html>